name: multi-platform build
on: [push]

jobs:
    build:
        strategy:
            matrix:
                os: [windows-latest, ubuntu-latest, macos-latest]
        runs-on: ${{matrix.os}}
        steps:
            - run: cmake --version
            - run: ls
            - run: cmake -S . -B build
            - run: cmake --build build
            - run: cd build && ctest
