name: multi-platform build
on: [push]

jobs:
    build:
        strategy:
            matrix:
                os: [windows-latest] #, ubuntu-latest, macos-latest]
        runs-on: ${{matrix.os}}
        steps:
            - uses: actions/checkout@v2
            - run: cmake --version
            - run: cmake -S . -B build
            - run: cmake --build build
            #- run: cd build && ctest
